(
    mesh: (
        vertices: [(
            pos: (1.0, 0.0, 1.0),
            uv: (0.0, 0.0),
            norm: (0.0, -1.0, 0.0),
        ), (
            pos: (0.0, 0.0, 1.0),
            uv: (0.0, 1.0),
            norm: (0.0, -1.0, 0.0),
        ), (
            pos: (0.0, 0.0, 0.0),
            uv: (1.0, 1.0),
            norm: (0.0, -1.0, 0.0),
        ), (
            pos: (1.0, 0.0, 0.0),
            uv: (1.0, 0.0),
            norm: (0.0, -1.0, 0.0),
        )],
        indices: [0, 1, 2, 2, 3, 0],
    ),
    translucent: false,
    cull: Some(Down),
    spans: [(
        axis: X,
        ends: [0, 3],
        uv_unit: (0.0, -1.0),
    ), (
        axis: Z,
        ends: [0, 1],
        uv_unit: (-1.0, 0.0),
    )],
)