(
    viewport: Bottom,
    elements: [
        (
            components: [
                ("rect", (min: (31.0, 232.0), max: (49.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.375, 0.625, 0.375, 1.0),
                )),
                ("block", (block: "bricks", state: 0)),
            ],
        ),
        (
            components: [
                ("rect", (min: (53.0, 232.0), max: (71.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.125, 0.125, 0.125, 0.875),
                )),
            ],
        ),
        (
            components: [
                ("rect", (min: (75.0, 232.0), max: (93.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.125, 0.125, 0.125, 0.875),
                )),
            ],
        ),
        (
            components: [
                ("rect", (min: (97.0, 232.0), max: (115.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.125, 0.125, 0.125, 0.875),
                )),
            ],
        ),
        (
            components: [
                ("rect", (min: (119.0, 232.0), max: (137.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.125, 0.125, 0.125, 0.875),
                )),
            ],
        ),
        (
            components: [
                ("rect", (min: (141.0, 232.0), max: (159.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.125, 0.125, 0.125, 0.875),
                )),
            ],
        ),
        (
            components: [
                ("rect", (min: (163.0, 232.0), max: (181.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.125, 0.125, 0.125, 0.875),
                )),
            ],
        ),
        (
            components: [
                ("rect", (min: (185.0, 232.0), max: (203.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.125, 0.125, 0.125, 0.875),
                )),
            ],
        ),
        (
            components: [
                ("rect", (min: (207.0, 232.0), max: (225.0, 250.0))),
                ("sprite", (
                    tex: 0,
                    uv: (min: (0.0, 0.0), max: (1.0, 1.0)),
                    color: (0.125, 0.125, 0.125, 0.875),
                )),
            ],
        ),
    ],
)
