(
    components: [
        ("position", (16.0, 16.0, 16.0)),
        ("rotation", (0.0, 0.0, 0.0)),
        ("velocity", (0.0, 0.0, 0.0)),
        ("speed", 0.25),
        ("player_controlled", ()),
        ("bound", (min: (-0.25, -1.25, -0.25), max: (0.25, 0.25, 0.25))),
    ],
)
